p {font-family: montserrat;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.model {
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 7px;
}

.online {
  font-family: Montserrat;
  font-size: 13px;
}

.touchless {
  text-decoration: underline;
}