p {
  font-family: Arial;
  font-size: 20px;
  margin-top: 8px;
  margin-bottom: 9px;
}

.home-box{
  box-shadow: 4px 4px 10px rgba(0, 0, 0, .05);
  border-style: solid;
  border-width: 1px;
  border-color: rgba(128, 128, 128, 0.31);
  border-radius: 7px;
}

.levels {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.text {
  padding-left: 7px;
  
}

.notif-nums {
  background-color: rgb(88, 123, 226);
  color: white;
  border-radius: 18px;
  padding-right: 16px;
  padding-left: 16px;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-right: 10px;
  font-size: 21px;
  font-weight: 600;
}